*{
	margin: 0;
	padding: 0;
	font-family: "Sour Gummy", serif;
	font-weight: 500;
	font-style: normal;
}

header{
	background-color: #4e664c;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #ffffff;
}
	
.menu {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
}

header h1{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	margin-top: 13px;
}

header ul{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

header ul li{
	padding: 10px;
	margin-left: 20px;
	transition: .3s;
}

header ul li:hover{
	border: 2px solid #c1e6bd;
	border-radius: 15px;
	font-size: 14px;
}

main{
	background-image:url("navidad1.jpg");
}

.titulo{
	padding:30px;
	text-align:center;
	background: rgb(243,215,215);
background: linear-gradient(0deg, rgba(243,215,215,0) 0%, rgba(200,75,75,0.5) 100%, rgba(255,255,255,0.5) 100%);
}
.titulo h1{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 60px;
	margin: 80px 0 80px 0;
	color: #ffffff;
}

.info{
	text-align: center;
	background-color:#ffe6e6;
	margin: 50px;
	padding: 30px;
	border: 2px solid #cd4141;
	box-shadow: 8px 8px #cd4141;
}


footer{
	background-color: #4e664c;
	padding: 50px;
	text-align: center;
	color:#c1e6bd; 
	border-top: 30px solid #c1e6bd; 
}

footer a{
	color:#c1e6bd; 
}

footer a:hover{
	color:#ffffff;
}

footer nav{
	margin-bottom: 30px;
}