*{
	margin: 0;
	padding: 0;
	font-family: "Sour Gummy", serif;
	font-weight: 500;
	font-style: normal;
}

body{
	background-image:url("navidad2.jpg");
}

header{
	background-color: #4e664c;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #ffffff;
}
	
.menu {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	padding: 10px 30px 10px 30px;
}

header h1{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	margin-top: 13px;
}

header ul{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

header ul li{
	padding: 10px;
	margin-left: 20px;
	transition: .3s;
}

header ul li:hover{
	border: 2px solid #c1e6bd;
	border-radius: 15px;
	font-size: 14px;
}

main{
	border-top: 5px solid #c1e6bd;
	background: rgb(232,106,106);
	background: linear-gradient(90deg, rgba(232,106,106,0.6) 0%, rgba(214,82,82,0.5970763305322129) 100%);
}

.cv{
	display:flex;
	justify-content:center;
	padding: 20px;
	margin-left: 200px;
	margin-right:200px;
	background-color: #f07b7b;
}

h1{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 25px;
	padding: 5px;
}

h2{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 25px;
	padding: 5px;
}

.parte1{
	border-right: 2px solid #cd4141;
	padding-right: 20px;
}

.parte1 section{
	margin: 20px;
}

.parte1 h2{
	text-align:right;
	padding: 5px;
	background: rgb(240,123,123);
background: linear-gradient(90deg, rgba(240,123,123,1) 0%, rgba(6,55,4,1) 40%);
	color:#ffffff;
	width:100%;
}

.parte1 h1{
	text-align:right;
	padding: 5px;
	background: rgb(240,123,123);
background: linear-gradient(90deg, rgba(240,123,123,1) 0%, rgba(6,55,4,1) 40%);
	color:#ffffff;
	width:100%;
}

.parte1 section article{
	background-color:#ffe6e6;
	padding: 8px;
	margin:10px;
	border: 2px solid #cd4141;
	box-shadow: 8px 8px #cd4141;
}

.parte1 section ul{
	background-color:#ffe6e6;
	padding: 8px;
	margin:10px;
	border: 2px solid #cd4141;
	box-shadow: 8px 8px #cd4141;
}

.parte1 section ul li ul{
	margin:10px;
	border: 0;
}

.parte2 section{  
	margin:20px;
	padding: 20px;
}

.parte2 li img {
      margin-right: 10px;
      width:150px;
      height: auto;
	  border-right: 1px solid #cd4141;
	  padding: 20px 0 20px 0;
}

.parte2 li{
	display:flex;
	margin: 50px;
	background-color:#ffe6e6;
	padding: 10px 0 10px 10px;
	border: 2px solid #cd4141;
	box-shadow: 8px 8px #cd4141;
}

.cole{
	width: 100%;
	box-sizing: border-box;
}

.parte2 h2{
	padding: 5px;
	background: rgb(6,55,4);
	background: linear-gradient(90deg, rgba(6,55,4,1) 40%, rgba(240,123,123,1) 100%);
	color:#ffffff;
}

.parte2 h3{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	padding: 5px;
	background: rgb(6,55,4);
	background: linear-gradient(90deg, rgba(6,55,4,1) 40%, rgba(240,123,123,1) 100%);
	color:#ffffff;
}

.ubicacion{
	margin: 10px;
}

.portfolio{
	text-align: center;
	padding:20px 0 20px 0;
	background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,75,75,1) 100%);
}

.portfolio h2{
	padding: 10px 0 10px 0;
	color: #ffffff;
	background-color:#4e664c;
}

.portfolio article{
	display:flex;
	justify-content: center;
}

.portfolio figure{
	margin: 30px;
	padding: 10px;
	background-color:#ffe6e6;
	border: 2px solid #cd4141;
	box-shadow: 8px 8px #cd4141;
}

.portfolio figcaption{
	margin-top: 20px;
	padding: 10px;
	background-color:#cd4141;
	border:1px solid #cd4141;
	border-radius: 5px;
	color: #ffffff;
}

.portfolio img{
	width:auto;
    height: 300px;
}

footer{
	background-color: #4e664c;
	padding: 50px;
	text-align: center;
	color:#c1e6bd; 
	border-top: 30px solid #c1e6bd; 
}

footer a{
	color:#c1e6bd; 
}

footer a:hover{
	color:#ffffff;
}

footer nav{
	margin-bottom: 30px;
}