*{
	margin: 0;
	padding: 0;
	font-family: "Sour Gummy", serif;
	font-weight: 500;
	font-style: normal;
}

body{
	background-image:url("fondominecraft.jpg");
}

header{
	background-color: #212036;
	padding:0 20px 0 20px;
}

ul{
	list-style: none;
	padding-right: 10px;
}

a{
	text-decoration: none;
	color: #ffffff;
	border: 1px #deddf2;
	border-radius: 10px;
	transition: .3s ease;
}
	
.menu {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
}

header h1{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	margin-top: 13px;	
}

header ul{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

header ul li{
	padding: 10px;
	margin-left: 20px;
	transition: .3s;
}

header ul li:hover{
	transform:scale(0.9);
}

header a:hover{
	transform:scale(0.9);
	transition: .3s ease;
	text-shadow:0px 0px 10px #deddf2;
}
main{
	background: rgb(11,10,25);
	background: linear-gradient(0deg, rgba(11,10,25,1) 37%, rgba(11,10,25,0.5) 100%);
}
.parte1{
	padding: 20px 100px 0 100px;
}

.prese {
	display:flex;
	justify-content:center;
	padding: 100px 100px 150px 100px;
	background: rgb(11,10,25);
	background: linear-gradient(270deg, rgba(11,10,25,0.2) 0%, rgba(11,10,25,0.2) 100%);
	border:1px;
	border-radius:30px;
	text-shadow:0px 0px 5px #deddf2;
	margin: 10px 30px 0 30px;
}

img {
	border: 2px solid #ffffff;
	border-radius: 250px;
	box-shadow:0px 0px 20px #deddf2;
	background: rgb(11,10,25);
	background: linear-gradient(270deg, rgba(11,10,25,0.2) 0%, rgba(11,10,25,0.2) 100%);
}	
.presentacion {
	padding:50px 75px 50px 75px;
	color: #ffffff;	
}

.presentacion h1{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 65px;
	padding-top:10px;
	border-top: 5px solid transparent;
	border-image: linear-gradient(to right, #deddf2, transparent);
	border-image-slice: 1;
}

.presentacion p{
	font-size:20px;
	margin-left:20px;
}

.presentacion h2{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	margin-left:20px;
	padding:10px;
	border: 2px solid transparent;
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #deddf2, transparent);
	border-image-slice: 1;
}

.presentacion a {
	margin:10px;
	float:right;
}	
.presentacion a:hover{
	transform:scale(1.2);
}

.bienvenida{
	margin-top: 10px;
	padding:20px 50px 60px 0;
	box-shadow:5px 5px #deddf2;
}

.presentacion h3{
	margin-bottom:10px;
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size:30px;
	padding:0 0 10px 20px;
}

.bienvenida p{
	margin:10px 0 10px 50px;
	font-size:18px;
}

.enlaces ul{
	display:flex;
	justify-content:center;
	padding:0 0 100px 0;
}

.enlaces li{
	display:flex;
	margin: 50px;
	padding: 20px;
	color: #deddf2;	
	transition: .3s;
	width:600px;
	height:50px;
	border:2px solid transparent;
	border-radius:50px;
	box-shadow: 5px 5px 5px #c1c0e3;
}

.enlaces li:hover{
	transform:scale(1.3);
	text-shadow:0 0 10px #deddf2;	
	color:#ffffff;
}

.enlaces a{
	font-family: "Galindo", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	text-shadow:0 0 10px #deddf2;	
	padding:20px;
	border-radius:0;
}


.enlaces p{
	margin:0 20px 20px 20px;
}

footer{
	background-color: #212036;
	padding: 50px;
	text-align: center;
	color:#9491c8; 
}

footer a{
	color:#9491c8; 
}

footer a:hover{
	color:#ffffff;
}

footer nav{
	margin-bottom: 30px;
}
